{% extends 'base.html.twig' %}

{% block body %}
  <h1>Descripcion: "Descripcion de la asignacion"</h1>
  <h2>Nombre de técnico: "Kevin Rivera"</h2>
  <table>
      <thead>
          <tr>
              <th>Verificar</th>
              <th>Codigo</th>
              <th>Descripcion</th>
              <th>Cantidad</th>
              <th>Observacion</th>

          </tr>
      </thead>
      <tbody>
          <tr>
              <td>SIMON</td>
              <td>01012125</td>
              <td>Mebendazol 200 ml Tableta Oral Empaque primario individual</td>
              <td>6000</td>
              <td>
                Globito
              </td>
          </tr>
      </tbody>
  </table>
{% endblock %}
