{% extends 'base.html.twig' %}

{% block body%}

    <h1>Vale Provisional</h1>

    <table>
      <thead>
        <tr>
          <td>Codigo</td>
          <td>Descripcion</td>
          <td>UM</td>
          <td>Cantidad</td>
        </tr>
      </thead>
      <tbody>
        <!--for-->
        <tr>
          <td>6851651</td>
          <td>descripcion</td>
          <td>CO</td>
           <td>465987</td>
          <tr>
      <!--endfor-->
      </tbody>
    </table>

{%endblock%}
