{% extends 'base.html.twig' %}

{% block body%}

    <h1>Vale Provisional</h1>

    <table>
      <thead>
        <tr>
          <td>Codigo</td>
          <td>Descripcion</td>
          <td>UM</td>
          <td>Cantidad</td>
        </tr>
      </thead>
      <tbody>
        {% for v in vale.getCatProductoid()%}
        <tr>
          <td>{{v.getId()}}</td>
          <td>{{v.getNombreLargoInsumo()}}</td>
          <td>CO</td>
           <td>465987</td>
          <tr>
      {%endfor%}
      </tbody>
    </table>

{%endblock%}
