
<!-- sidebar menu: ejemplo de plantilla de enlaces -->   
    <li> 
        <a href="javascript:void(0)" class="waves-effect"><span class="hide-menu">Dashboard<span class="fa arrow"></span></span></a>
        <!-- segundo nivel -->
        <ul class="nav nav-second-level">
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 1</span></a> </li>
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 2</span></a> </li>
            <li> <a href="javascript:void(0)"><span class="hide-menu">Dashboard 3</span></a> </li>
        </ul>
    </li>                    
    
    <li>
        <a href="javascript:void(0)" class="waves-effect"><span class="hide-menu">Widgets</span></a> 
    </li>
<!-- /.sidebar -->
